* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  width: 100%;
  color: white;
  font-family: "Roboto", sans-serif;
}

.nav-background {
  background-color: rgb(31, 31, 31);
}

.horizontal-nav {
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
}

.Gokada-logo {
  display: flex;
  align-items: center;
  margin-left: 70px;
}

.Gokada-logo p {
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 800;
}

.Gokada-logo img {
  border-radius: 90px;
}

.nav-lists ul {
  margin-right: 70px;
  display: flex;
  padding: 1px 40px;
}

.nav-lists ul li {
  list-style-type: none;
}

.nav-lists ul li a {
  text-decoration: none;
  color: white;
  font-size: 11px;
  font-weight: bolder;
  color: gray;
  margin-left: 30px;
  padding: 20px;
}

.nav-lists ul li a:hover {
  color: white;
  background-color: rgb(49, 49, 49);
  width: 100%;
  padding-top: 20px;
}

.firstpage-background {
  background-color: rgb(17, 17, 17);
}

.firstpage-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 95px;
  padding-bottom: 70px;
  text-align: center;
}

.firstpage-text h1 {
  font-size: 2.8rem;
}

.firstpage-text .first-text {
  margin-top: 8px;
  font-size: 17px;
}

.firstpage-text button {
  margin-top: 35px;
  padding: 12px 25px;
  background-color: rgb(42, 197, 145);
  border: none;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

.firstpage-text .second-text {
  font-size: 10px;
  margin-top: 10px;
  color: rgba(128, 128, 128, 0.39);
}

.footer-text {
  margin-top: 100px;
}

.footer-text .third-text {
  font-size: 10px;
  margin-top: 10px;
  color: rgba(128, 128, 128, 0.39);
}

.footer-text .image-link a {
  text-decoration: none;
  margin-left: 10px;
  display: inline-block;
  margin-top: 10px;
}

/*Second page*/
.secondpage {
  display: flex;
  padding: 100px 0;
  width: 80%;
  margin: auto;
  align-items: center;
}

.secondpage .secondpage-text {
  max-width: 440px;
  padding-left: 20px;
}
.secondpage .secondpage-image {
  margin-left: 45px;
}

.secondpage .secondpage-image img {
  border-radius: 10px;
}
.secondpage .secondpage-text h2 {
  font-size: 35px;
}

.secondpage .secondpage-text p {
  margin-top: 10px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.884);
}
/*Third page*/
.thirdpage {
  display: flex;
  padding: 100px 0;
  width: 80%;
  margin: auto;
  align-items: center;
}

.thirdpage .thirdpage-text {
  max-width: 440px;
  margin-left: 70px;
}
.thirdpage .thirdpage-text h2 {
  font-size: 35px;
}

.thirdpage .thirdpage-text p {
  margin-top: 10px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.884);
}

.thirdpage .thirdpage-text button {
  margin-top: 35px;
  padding: 12px 25px;
  background-color: rgb(42, 197, 145);
  border: none;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

/*fourth page*/

.fourthpage {
  display: flex;
  padding: 100px 0;
  width: 80%;
  margin: auto;
  align-items: center;
}

.fourthpage .fourthpage-text {
  max-width: 440px;
  padding-left: 20px;
}
.fourthpage .fourthpage-image {
  margin-left: 45px;
}

.fourthpage .fourthpage-image img {
  border-radius: 10px;
}
.fourthpage .fourthpage-text h2 {
  font-size: 35px;
}

.fourthpage .fourthpage-text p {
  margin-top: 10px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.884);
}

.fourthpage .fourthpage-text button {
  margin-top: 35px;
  padding: 12px 25px;
  background-color: rgb(42, 197, 145);
  border: none;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

/*5th page*/

.fifth-page {
  width: 78%;
  margin: 40px auto;
}

.fifth-page h2 {
  font-size: 35px;
  margin-bottom: 30px;
}

.fifth-page .fifth-div {
  align-content: center;
  display: flex;
  justify-content: space-around;
}

.fifth-page .fifth-div .common-div {
  margin-right: 30px;
  background-color: rgb(15, 15, 15);
  border-radius: 15px;
  position: relative;
}
.fifth-page .fifth-div .common-div img {
  border-radius: 15px 15px 0 0;
}
.fifth-page .fifth-div .common-div .fifth-text {
  padding: 15px;
}

.fifth-page .fifth-div .common-div .fifth-text p {
  margin-top: 10px;
  font-size: 12px;
  color: rgba(128, 128, 128, 0.699);
  font-weight: bold;
}
.fifth-page .fifth-div .common-div .fifth-text p .green5 a {
  color: rgb(12, 214, 147);
  text-decoration: none;
}

.fifth-page .fifth-div .common-div .fifth-text .learn {
  padding-top: 50px;
  color: white;
  font-size: 11px;
}
.fifth-page .fifth-div .common-div .fifth-text .learn2 {
  position: absolute;
  color: white;
  font-size: 11px;
  bottom: 15px;
}

/*Sixth-page*/

.services {
  width: 80%;
  margin: 80px auto;
}
.services h2 {
  font-size: 35px;
  width: 60%;
  margin-bottom: 60px;
}

.services .services-details {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.services .services-details .services-text {
  width: 85%;
  margin-bottom: 60px;
}

.services .services-details .services-text p {
  font-size: 12.5px;
  color: gray;
  margin-top: 10px;
}

/*Seventhpage*/
.seventhpage {
  width: 80%;
  margin: 40px auto;
}

.seventhpage h2 {
  font-size: 35px;
  margin-bottom: 65px;
}

.seventhpage .customers-div {
  display: flex;
  width: 100%;
}

.seventhpage .customers-div .customer {
  border: 1px solid gray;
  border-radius: 10px;
  margin-right: 20px;
  padding: 24px;
  width: 300px;
  height: 180px;
}

.seventhpage .customers-div .customer p {
  font-size: 14px;
}
.seventhpage .customers-div .customer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.seventhpage .customers-div .customer .imagetext {
  display: flex;
}
.seventhpage .customers-div .customer .imagetext img {
  border-radius: 30px;
  text-align: center;
  width: 35px;
  margin-right: 10px;
}

.seventhpage .customers-div .customer .imagetext .text p {
  font-size: 12px;
  font-weight: bolder;
}

.seventhpage .customers-div .customer .imagetext .text a {
  font-size: 12px;
  color: rgb(27, 212, 151);
}

.eightpage {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.eightpage h2 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 35px;
}

.eightpage .eight-para {
  margin-bottom: 50px;
  font-weight: 400;
}

.eightpage .para2 {
  margin-top: 50px;
  font-size: 17px;
  font-weight: 400;
}

.background-footer {
  background-color: rgb(14, 13, 13);
  margin-top: 80px;
}

.background-footer .socials-logo {
  display: flex;
  justify-content: space-between;
  padding: 40px 0 20px 0;
  width: 70%;
  margin: auto;
  align-items: center;
}

.background-footer .socials-logo .logo {
  display: flex;
  align-items: center;
}

.background-footer .socials-logo .logo img {
  border-radius: 30px;
  margin-right: 10px;
}

.background-footer .socials-logo .logo p {
  font-size: 17px;
  font-weight: 800;
}
.background-footer .socials-logo .socials a {
  color: white;
  margin-left: 5px;
  font-size: 14px;
}

.background-footer .socials-logo .socials a i {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 40px;
  padding: 10px;
}

.footer-details {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  width: 70%;
  margin: auto;
  align-items: center;
}

.footer-details .footer-links a {
  text-decoration: none;
  color: white;
  font-size: 10px;
  margin-right: 10px;
  color: gray;
}
hr {
  border: 1px solid rgba(128, 128, 128, 0.075);
  width: 70%;
  margin: auto;
}

.footer-details .footer-copy p {
  font-size: 10px;
  color: gray;
}

.learn-arrow {
  display: flex;
  align-items: center;
}

.learn-arrow .bigger {
  color: rgb(27, 212, 151);
  margin-top: 60px;
  margin-left: 10px;
  font-size: 14px;
}

.learn-arrow .smaller {
  color: rgb(27, 212, 151);
  margin-top: 40x;
  margin-left: 10px;
  font-size: 14px;
}
